
<div *ngIf="!check" class="text-center text-danger p-5 h3">Cart is Empty</div>
<div class="container " *ngIf="display">
  <h1 class="display-3 text-center mt-1"><i class="fas fa-shopping-cart"></i>{{localUserObject == undefined  ? "My " :localUserObject }} Cart</h1>
       <div class="row row-cols-1 row-cols-sm-3 row-cols-md-3 row-cols-lg-3 g-4  mb-5 mt-1">
        <div class="col" *ngFor="let  p of users;let ind=index">
          <div class="card bg" >
            <img src= {{p.imgPath}}  class="card-img-top ">
                  <div class="card-body">
                     <h4>{{p.name}}</h4>
                     <h5 class="p-1 fw-bold">₹{{p.price}}</h5>
                     <div>
                     <button class="btn x" (click)="delete(p.id)">Delete</button>
                     <button class="float-end btn-group btn">
                     <button class="btn btn-outline-light" (click)="callcounterminus(ind)">-</button>
                     <button class="btn btn-outline-light btn-success text-white">{{this.counter[ind]}}</button>
                     <button class="btn btn-outline-light" (click)="callcounterplus(ind)">+</button>
                     </button>
                    </div>
                   
           </div>
        </div>
    </div>
    </div>
<div *ngIf="check" class="text-center pb-5 " (click)="placeOrder()"><button class="btn btn-lg btn-success" >Place Order</button></div>



</div>

<div *ngIf="!display" class="text-center container mt-4">
           
<table class="table table-sm">
  <thead class="table-light">
   <tr>
    <th class="hide">Item</th>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total</th>
  </tr>
</thead >
<tbody *ngFor="let p of users;let ind=index">
  <tr>
      <td class="hide"><img [src]="p.imgPath" style="max-width:100px;max-height: 100px;"></td>
      <td>{{p.name|uppercase}}</td>
      <td>{{p.price}}</td>
      <td>{{this.counter[ind]}}</td>
      <td>{{this.counter[ind]*p.price}}</td>
  </tr>
  </tbody>
</table>
<h1 class="h1 text-center bg-total p-1 m-3">
Grandtotal = ₹{{totalsum}}
</h1>
</div>