<div id="carouselExampleCaptions" class="x carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner text-center">
    <div class="carousel-item active">
      <img src="/assets/images/pos3.png">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/pos2.png">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/pos1.png">
    </div>
  </div>
</div>

<div data-aos="zoom-in" data-aos-duration="3000">
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 p-3 my-2 svg">
  <div class="col">
  <div class="card shadow p-4 m-3 ">
    <img src="/assets/images/event.svg">
    <h5 class="text-center">Fine Dining</h5>
  </div>
  </div>
  <div class="col">
  <div class="card shadow p-4 m-3">
    <img src="/assets/images/svgfood.svg">
    <h5 class="text-center">Delicious Food</h5>
  </div>
  </div>
  <div class="col">
  <div class="card shadow p-4 m-3">
    <img src="/assets/images/svgchef_hat.svg">
    <h5 class="text-center">Three star michelin</h5>
  </div>
  </div>
  <div class="col">
  <div class="card shadow p-4 m-3">
    <img src="/assets/images/svggrow.svg">
    <h5 class="text-center">Incredible growth</h5>
  </div>
  </div>
</div>
</div>


<div data-aos="flip-left" data-aos-duration="3000">
<div id="animatedcards">
  <div class="container">
    <div class="card animate__animated animate__backInLeft">
      <div class="imgBx" data-text="GIFT CARDS">
        <img
          src="https://images.unsplash.com/photo-1517685645259-c6caddb7165d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjN8fGZvb2R8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
          alt="">
      </div>
      <div class="content">
        <div>
          <h3>GIFT CARDS</h3>
          <p>Give the gift of Delish! Restaurant takeout gift cards, class tickets, and private instruction
            available.</p>
        </div>
      </div>
    </div>
    <div class="card animate__animated animate__backInRight">
      <div class="imgBx" data-text="Experienced chefs">
        <img
          src="https://images.unsplash.com/photo-1606851686066-c7f17f1ece96?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDh8fGZvb2R8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
          alt="">
      </div>
      <div class="content">
        <div>
          <h3>EXPERIENCED CHEFS</h3>
          <p>Founded as a family business in 2012, now with Chef Irene Li, the littlest Delish, at the helm
          </p>
        </div>
      </div>
    </div>
    <div class="card animate__animated animate__backInLeft">
      <div class="imgBx" data-text="Food for Everyone">
        <img
          src="https://images.unsplash.com/photo-1548943487-a2e4e43b4853?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fGZvb2R8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
          alt="">
      </div>
      <div class="content">
        <div>
          <h3>FOOD FOR EVERYONE</h3>
          <p>Delish isn't going anywhere, our Food is going everywhere! Learn more about the future of Delish
            and join in.</p>
        </div>
      </div>
    </div>
    <div class="card animate__animated animate__backInRight">
      <div class="imgBx" data-text="Ready?">
        <img
          src="https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGZvb2R8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
          alt="">
      </div>
      <div class="content">
        <div>
          <h3 class="pt-3">READY?</h3>
          <p>We're back with the food you've been craving and the moments you've been missing. Most of our
            restaurants are open for dining-in.</p>
        </div>
      </div>
    </div>
  </div>

</div>
</div>

<div data-aos="zoom-in" data-aos-duration="3000">
<h1 class="text-center y mt-5">Delish gallery</h1></div>

<div data-aos="zoom-out" data-aos-duration="3000">
<div id="carouselExampleIndicators" class="carousel slide bg py-5" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-aos="fade-left" data-aos-duration="1000">
      <div class="row">
        <div class="col-sm-4">
      <img class=" w-100" src="http://jellydemos.com/html/elixir/images/gallery/06.jpg" class="card-img-top" alt="First slide">
      </div>
      <div class="col-sm-4">
        <img class=" w-100" src="http://jellydemos.com/html/elixir/images/gallery/08.jpg" class="card-img-top" alt="First slide">
        </div>
        <div class="col-sm-4">
          <img class=" w-100" src="https://images.unsplash.com/photo-1593558159516-d0be2a960c52?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" class="card-img-top" alt="First slide">
          </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-sm-4">
      <img class="d-block w-100" src="http://jellydemos.com/html/elixir/images/gallery/01.jpg" class="card-img-top" alt="First slide">
      </div>
      <div class="col-sm-4">
        <img class="d-block w-100" src="http://jellydemos.com/html/elixir/images/gallery/02.jpg" class="card-img-top" alt="First slide">
        </div>
        <div class="col-sm-4">
          <img class="d-block w-100" src="http://jellydemos.com/html/elixir/images/gallery/03.jpg" class="card-img-top" alt="First slide">
          </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-sm-4">
      <img class="d-block w-100" src="http://jellydemos.com/html/elixir/images/gallery/05.jpg" class="card-img-top" alt="First slide">
      </div>
      <div class="col-sm-4">
        <img class="d-block w-100" src="http://jellydemos.com/html/elixir/images/gallery/07.jpg" class="card-img-top" alt="First slide">
        </div>
        <div class="col-sm-4">
          <img class="d-block w-100" src="http://jellydemos.com/html/elixir/images/gallery/09.jpg" class="card-img-top" alt="First slide">
          </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>



<div class="flips my-5">
<div data-aos="flip-right" data-aos-duration="3000">
<h1 class="re text-center">Reviews</h1>
  <div class="card-group px-3 pb-1 mt-1">
    <div class="card shadow rounded p-3 m-2">
      <div class="row">
      <div class="col-sm-4 text-center">
        <img src="https://livedemo00.template-help.com/wt_prod-15612/images/testimonials-1-120x120.jpg" class="rounded-circle">
        <h4 class="mt-1">Amanda</h4>
        <p class="profession">Food Analyst</p>
      </div>
      <div class="col-sm-8">
        <div class="text-warning text-center p-1 h5">
        <span><i class="fas fa-star"></i></span>
        <span><i class="fas fa-star"></i></span>
        <span><i class="fas fa-star"></i></span>
        <span><i class="fas fa-star"></i></span>
        <span><i class="fas fa-star"></i></span>
        </div>
       <div class="lead"> I've been eating their business lunches for the past 7 years. Not even once have I had any unpleasant experience. And the dishes always taste fresh and good</div>
       <i class="float-end pt-3">-Times of USA</i>
      </div>
      </div>
    </div>
    <div class="card shadow p-3 m-2">
      <div class="row">
      <div class="col-sm-4 text-center">
        <img src="https://livedemo00.template-help.com/wt_prod-15612/images/testimonials-2-120x120.jpg" class="rounded-circle">
        <h4 class="pt-1">John</h4>
        <p class="profession">F&B Associate</p>
      </div>
      <div class="col-sm-8">
        <div class="text-warning text-center p-1 h5">
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star-half-alt"></i></span>
          </div>
        <div class="lead">The prices are as good as the menu! Each time I spend less money than anywhere else and get a fresh, tasty, homemade dinner with incredible service!</div>
        <i class="float-end pt-3">-Forbes</i>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>



